body {
    background-color: #EEEEEE;
}

.container {
    background-color: #00ADB5;
    color: #EEEEEE;
    width: 800px;
}

h1, p {
    text-align: center;
}

.container img {
    width: 50%;
    justify-content: center;
    justify-content: center;
}

label, input, button {
    padding : 8px 20px
}

footer {
    padding: 20px;
    font-style: italic;
    text-align: center;
    color: #393E46 
}